# Chapter 10 Clustering: Exercises 15-17
## CPSC 5175 Jacob Evers

In [16]:
# Import all the required packages
import pandas as pd
from scipy import stats
from sklearn.cluster import KMeans

# Read in the dataset and name it "cereals"
cereals = pd.read_csv(r"C:\Users\jevers\Documents\Jupyter Files\CPSC 5175\Datasets\Website Data Sets\Cereals.csv")

In [17]:
# Inspect the dataset to verify it looks correct
cereals.head()

,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,...,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,...,1.0,0.33,68.402973,1,1,0,0,0,0,0
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,...,1.0,1.00,33.983679,1,0,1,0,0,0,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,...,1.0,0.33,59.425505,1,0,0,1,0,0,0
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,...,1.0,0.50,93.704912,1,0,0,1,0,0,0
4,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,...,1.0,0.75,34.384843,1,0,0,0,0,1,0

<strong><ol start=15><li> Subset the <i>Fat</i> and <i>Sodium</i> variables into their own data frame, X. Standardize the dataset.</ol></strong>

In [18]:
# Isolate the predictor variables and store them
X = cereals[['Fat', 'Sodium']]

# Standardize the predictor variables
Xz = pd.DataFrame(stats.zscore(X), columns = ['Fat', 'Sodium'])

<strong><ol start=16><li> Run k-means clustering on the dataset, using three clusters.</strong></ol>

In [19]:
# Run the clustering algorithm, using 3 clusters
kmeans01 = KMeans(n_clusters = 3).fit(Xz)

In [20]:
# Save the cluster label information of each cluster
cluster = kmeans01.labels_

In [21]:
# Separate into groups based on membership
Cluster1 = Xz.loc[cluster == 0]
Cluster2 = Xz.loc[cluster == 1]
Cluster3 = Xz.loc[cluster == 2]

<strong><ol start=17>
    <li>Obtain the summary of each variable within each cluster and use the summaries to identify
        <ol><li> A low fat, low sodium cluster.</strong><ul><li> Cluster 2 has a fat value that is 0.73 sigma below the mean, and 1.66 sigma below the mean, making it the lowest in fat and sodium of the 3 clusters.</ul>
        <li><strong>A low fat, high sodium cluster.</strong><ul><li> Cluster 1 has a fat value that is 0.38 sigma below the mean, and 0.50 sigma above the mean, making it the low fat, high sodium cluster</ul>
        <li><strong>A high fat, high sodium cluster.</strong><ul><li> Cluster 3 has a fat value that is 1.40 sigma above the mean, and 0.06 sigma above the mean, making it the only cluster with both values above the mean.</ul></ol></ol>

In [22]:
# Show information for Cluster 1
Cluster1.describe()

             Fat     Sodium
count  44.000000  44.000000
mean   -0.376655   0.500543
std     0.486648   0.596188
min    -1.013072  -0.416340
25%    -1.013072   0.123966
50%    -0.012988   0.484170
75%    -0.012988   0.874391
max    -0.012988   1.924986

In [23]:
# Show information for Cluster 2
Cluster2.describe()

             Fat     Sodium
count  14.000000  14.000000
mean   -0.727334  -1.659901
std     0.611301   0.410850
min    -1.013072  -1.917189
25%    -1.013072  -1.917189
50%    -1.013072  -1.917189
75%    -1.013072  -1.466934
max     0.987096  -0.836578

In [24]:
# Show information for Cluster 3
Cluster3.describe()

             Fat     Sodium
count  19.000000  19.000000
mean    1.408184   0.063932
std     0.768598   0.739608
min     0.987096  -1.737087
25%     0.987096  -0.236238
50%     0.987096   0.003898
75%     1.987181   0.604238
max     3.987349   1.564782